@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600&display=swap');

*{
   font-family: 'Nunito', sans-serif;
   margin:0; padding:0;
   box-sizing: border-box;
   outline: none; border:none;
   text-decoration: none;
   transition: all .2s linear;
}

html{
   font-size: 60%;
   overflow-x: hidden;
}



.container{
   max-width: 1200px;
   margin:0 auto;
   padding:3rem 2rem;
}

.container .title{
   font-size: 3.5rem;
   /* color:#444; */
   margin-bottom: 3rem;
   text-transform: uppercase;
   text-align: center;
}

.container .products-container{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
   gap:2rem;
   margin-top: 20px;
}


 .products-container .product{
   text-align: center;
   padding:3rem 2rem;
   background: #fff;
   box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
   outline: .1rem solid #ccc;
   outline-offset: -1.5rem;
   /* cursor: pointer; */
}
p{
   padding: 25px;
   font-size: 2rem;
}

.container .products-container .product:hover{
   outline: .2rem solid #006EBB;
   outline-offset: 0;
}
.container .products-container .product:focus-within{
   outline: .2rem solid #006EBB;
   outline-offset: 0;
}

.container .products-container .product img{
    max-width: 100%;
    max-height: 100%;

}
.description {
   text-decoration: none;
   color:#000;
}

.container .products-container .product:hover img{
   transform: scale(.9);
}
.container .products-container .product  a:focus img{
   transform: scale(.9);
}

.container .products-container .product h3{
   padding:.5rem 0;
   font-size: 2rem;
   color:#444;
}

.container .products-container .product:hover h3{
   color:#006EBB;
}


.products-preview{
   position: fixed;
   top:0; left:0;
   min-height: 100vh;
   width: 100%;
   background: rgba(0,0,0,.8);
   display: none;
   align-items: center;
   justify-content: center;
}

.products-preview .preview{
   display: none;
   padding:2rem;
   text-align: center;
   background: #fff;
   position: relative;
   margin:2rem;
   width: 80rem;
}

.products-preview .preview.active{
   display: inline-block;
}

.products-preview .preview img{
   max-width: 100%;
   max-height: 100%;
}

.products-preview .preview .fa-times{
   position: absolute;
   top:1rem; right:1.5rem;
   cursor: pointer;
   color:#444;
   font-size: 4rem;
}

.products-preview .preview .fa-times:hover{
   transform: rotate(90deg);
}

.products-preview .preview h3{
   color:#444;
   padding:.5rem 0;
   font-size: 2.5rem;
}

.products-preview .preview p{
   line-height: 1.5;
   padding:0 0;
   font-size: 1.6rem;
   color:#444;
}
header{
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   background-color: #293948;
   padding: 1rem 2%;
   min-height: 200px;
   font-size: 1.625em;
   font-weight: 500;
   cursor: pointer;
}
header h1{
   color:white;
   text-align: center;
}
header img {
   max-width: 90px;
   max-height: 120px;
   border-radius: 10px;
}

header:hover h1 {
   color: #55b9ff;
}

.menu {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            max-width: 1200px;
            margin: 0 auto;
            background-color: #eee;
        }

        .menu a {
            color: black;
            text-decoration: none;
            padding: 15px;
        }
        .menu .title span{
         font-size: 1.5em;
         margin-right: 10px;
         cursor: pointer;
        }
        .menu .title i{
         font-size: 1.5em;
        }


        .menu .title {
            display: flex;
            align-items: center;
            height: 80%;
        }
        .menu .title:hover {
            background-color: #006EBB;
            box-shadow: 0px 0px 2px 2px #000;
        }
        .menu .title:focus {
         background-color: #006EBB;
         box-shadow: 0px 0px 2px 2px #000;
        }
        .menu .item img {
            width: 50px;
            height: 20px;
            margin-right: 5px;
        }
        .menu .item .migam{
         width: 40px;
        }
        .menu .item {
            background-image: url('button.jpg');
            background-size: cover;
            padding: 20px;
            margin: 10px;
            height: 80%;
        }
        .menu .item:hover {
         background-color: #006EBB;
         box-shadow: 0px 0px 2px 2px #000;
        }
        .menu .item:focus{
         background-color: #006EBB;
         box-shadow: 0px 0px 2px 2px #000;
        }
        .menu .item .bip {
         color:red;
        }

        @media (max-width: 768px) {
            .menu {
                flex-direction: column;
                align-items: center;
            }
            .menu .item {
                background-image: none;
                margin: 10px 0;
                text-align: center;
                width: 100%;
                padding: 15px;
            }
        }

        .contrast-changeable {
            background-color: #fff;
            color: #000;
        }

        .high-contrast .contrast-changeable {
            background-color: #000;
        }
        .color-changeable{
         color:#000;
        }
        .high-color .color-changeable{
         color:#fff;
         border-color: white;
        }
        svg path {
         fill: red;
       }

@media (max-width:991px){

   html{
      font-size: 55%;
   }

}

@media (max-width:768px){

   .products-preview .preview img{
      height: auto;
   }

}

@media (max-width:450px){

   html{
      font-size: 50%;
   }

}

/* ------------------------------------------------------------------- */
.question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1210px;
    margin-top: 2rem;
    padding-bottom: 1rem;
    border-bottom: 2px solid black;
    cursor: pointer;
    text-decoration: none;
  color: #000;
}
.question:hover{
   color: #006EBB;
}
.question:focus{
   color: #006EBB;
}
.question h3 {
    font-size: 1.8rem;
}
.question i {
   margin-right: 10px;
   font-size: 2rem;
}
.question.active i {
    transform: rotate(180deg);
}
/* =----------------------- */
.question1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1210px;
    margin-top: 2rem;
    padding-bottom: 1rem;
    border-bottom: 2px solid black;
    cursor: pointer;
    text-decoration: none;
   color: #000;
}
.question1:hover{
   color: #006EBB;

}
.question1 h3 {
    font-size: 1.8rem;
}
.question1 i {
   margin-right: 10px;
   font-size: 2rem;
}
.question1:focus {
   color: #006EBB;
}
.question1.active i {
    transform: rotate(180deg);
}
/* ------------------------------------------- */
.question2 {
   display: flex;
   justify-content: space-between;
   align-items: center;
   max-width: 1210px;
   margin-top: 2rem;
   padding-bottom: 1rem;
   border-bottom: 2px solid black;
   cursor: pointer;
   text-decoration: none;
  color: #000;
}
.question2:hover{
  color: #006EBB;

}
.question2 h3 {
   font-size: 1.8rem;
}
.question2 i {
  margin-right: 10px;
  font-size: 2rem;
}
.question2:focus {
  color: #006EBB;
}
.question2.active i {
   transform: rotate(180deg);
}
/* ---------------------------------------------- */
.question3 {
   display: flex;
   justify-content: space-between;
   align-items: center;
   max-width: 1210px;
   margin-top: 2rem;
   padding-bottom: 1rem;
   border-bottom: 2px solid black;
   cursor: pointer;
   text-decoration: none;
 color: #000;
}
.question3:hover{
  color: #006EBB;
}
.question3:focus{
  color: #006EBB;
}
.question3 h3 {
   font-size: 1.8rem;
}
.question3 i {
  margin-right: 10px;
  font-size: 2rem;
}
.question3.active i {
   transform: rotate(180deg);
}
/* ------------------------------------------------ */
.question4 {
   display: flex;
   justify-content: space-between;
   align-items: center;
   max-width: 1210px;
   margin-top: 2rem;
   padding-bottom: 1rem;
   border-bottom: 2px solid black;
   cursor: pointer;
   text-decoration: none;
 color: #000;
}
.question4:hover{
  color: #006EBB;
}
.question4:focus{
  color: #006EBB;
}
.question4 h3 {
   font-size: 1.8rem;
}
.question4 i {
  margin-right: 10px;
  font-size: 2rem;
}
.question4.active i {
   transform: rotate(180deg);
}
/* --------------------------------------------- */
.question5 {
   display: flex;
   justify-content: space-between;
   align-items: center;
   max-width: 1210px;
   margin-top: 2rem;
   padding-bottom: 1rem;
   border-bottom: 2px solid black;
   cursor: pointer;
   text-decoration: none;
 color: #000;
}
.question5:hover{
  color: #006EBB;
}
.question5:focus{
  color: #006EBB;
}
.question5 h3 {
   font-size: 1.8rem;
}
.question5 i {
  margin-right: 10px;
  font-size: 2rem;
}
.question5.active i {
   transform: rotate(180deg);
}
/* ------------------------------------------------ */
.question6 {
   display: flex;
   justify-content: space-between;
   align-items: center;
   max-width: 1210px;
   margin-top: 2rem;
   padding-bottom: 1rem;
   border-bottom: 2px solid black;
   cursor: pointer;
   text-decoration: none;
 color: #000;
}
.question6:hover{
  color: #006EBB;
}
.question6:focus{
  color: #006EBB;
}
.question6 h3 {
   font-size: 1.8rem;
}
.question6 i {
  margin-right: 10px;
  font-size: 2rem;
}
.question6.active i {
   transform: rotate(180deg);
}
/* -------------------------------------------------- */
/* --------------------------------------------------- */
.question7 {
   display: flex;
   justify-content: space-between;
   align-items: center;
   max-width: 1210px;
   margin-top: 2rem;
   padding-bottom: 1rem;
   border-bottom: 2px solid black;
   cursor: pointer;
   text-decoration: none;
 color: #000;
}
.question7:hover{
  color: #006EBB;
}
.question7:focus{
  color: #006EBB;
}
.question7 h3 {
   font-size: 1.8rem;
}
.question7 i {
  margin-right: 10px;
  font-size: 2rem;
}
.question7.active i {
   transform: rotate(180deg);
}
/* ----------------------------------------------------- */
.question8 {
   display: flex;
   justify-content: space-between;
   align-items: center;
   max-width: 1210px;
   margin-top: 2rem;
   padding-bottom: 1rem;
   border-bottom: 2px solid black;
   cursor: pointer;
   text-decoration: none;
 color: #000;
}
.question8:hover{
  color: #006EBB;
}
.question8:focus{
  color: #006EBB;
}
.question8 h3 {
   font-size: 1.8rem;
}
.question8 i {
  margin-right: 10px;
  font-size: 2rem;
}
.question8.active i {
   transform: rotate(180deg);
}
/* -------------------------------------------------------- */
.question9 {
   display: flex;
   justify-content: space-between;
   align-items: center;
   max-width: 1210px;
   margin-top: 2rem;
   padding-bottom: 1rem;
   border-bottom: 2px solid black;
   cursor: pointer;
   text-decoration: none;
 color: #000;
}
.question9:hover{
  color: #006EBB;
}
.question9:focus{
  color: #006EBB;
}
.question9 h3 {
   font-size: 1.8rem;
}
.question9 i {
  margin-right: 10px;
  font-size: 2rem;
}
.question9.active i {
   transform: rotate(180deg);
}
/* --------------------------------------------------------- */
.question10 {
   display: flex;
   justify-content: space-between;
   align-items: center;
   max-width: 1210px;
   margin-top: 2rem;
   padding-bottom: 1rem;
   border-bottom: 2px solid black;
   cursor: pointer;
   text-decoration: none;
 color: #000;
}
.question10:hover{
  color: #006EBB;
}
.question10:focus{
  color: #006EBB;
}
.question10 h3 {
   font-size: 1.8rem;
}
.question10 i {
  margin-right: 10px;
  font-size: 2rem;
}
.question10.active i {
   transform: rotate(180deg);
}
/* ------------------------------------------------------------ */
.question11 {
   display: flex;
   justify-content: space-between;
   align-items: center;
   max-width: 1210px;
   margin-top: 2rem;
   padding-bottom: 1rem;
   border-bottom: 2px solid black;
   cursor: pointer;
   text-decoration: none;
 color: #000;
}
.question11:hover{
  color: #006EBB;
}
.question11:focus{
  color: #006EBB;
}
.question11 h3 {
   font-size: 1.8rem;
}
.question11 i {
  margin-right: 10px;
  font-size: 2rem;
}
.question11.active i {
   transform: rotate(180deg);
}
/* ------------------------------------------------------------ */
.question12 {
   display: flex;
   justify-content: space-between;
   align-items: center;
   max-width: 1210px;
   margin-top: 2rem;
   padding-bottom: 1rem;
   border-bottom: 2px solid black;
   cursor: pointer;
   text-decoration: none;
 color: #000;
}
.question12:hover{
  color: #006EBB;
}
.question12:focus{
  color: #006EBB;
}
.question12 h3 {
   font-size: 1.8rem;
}
.question12 i {
  margin-right: 10px;
  font-size: 2rem;
}
.question12.active i {
   transform: rotate(180deg);
}
/* ------------------------------------------------------------ */
.container .show-section {
   display: none;
}
.container .show-section1 {
   display: none;
}
.container .show-section2 {
   display: none;
}
.container .show-section3 {
   display: none;
}
.container .show-section4 {
   display: none;
}
.container .show-section5 {
   display: none;
}
.container .show-section6 {
   display: none;
}
.container .show-section7 {
   display: none;
}
.container .show-section8 {
   display: none;
}
.container .show-section9 {
   display: none;
}
.container .show-section10 {
   display: none;
}
.container .show-section11 {
   display: none;
}
.container .show-section12 {
   display: none;
}
.container .show{
   max-height: 100%;
   display: block;
}
